echo "# recommendation-system-with-machine-learnig" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/kinyuadennis/recommendation-system-with-machine-learnig.git
git push -u origin main
